#traffic {
    color: red;
    text-align: center;
}
li {
    font-weight: bold;
}
li {
    font-weight: bold;
}
li {
    font-weight: bold;
}
h1 {
    color: red;
}
h2 {
    color: navy;
    font-weight: bold;
}
h3 {
    color: green;
    font-size: medium;
}
.Text {
    color: aquamarine;
    font-size: larger;
}
#Text {
    color: black;
    font-size: large;
}
